body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: Arial, "Helvetica Neue", sans-serif;
  text-align: center;
}

h1 {
  font-size: 22px;
  margin: 30px 0;
}

.row {
  margin-bottom: 15px;
}

.box + .box {
  margin-left: 10px;
}
.box {
  display: inline-block;
  width: 150px;
  height: 150px;
  opacity: .5;
  cursor: pointer;
  color: #fff;
  font-size: 48px;
  font-weight: bold;
  line-height: 150px;
}

#box_0 {
  background-image: url(./img/photo_0.jpg);
}

#box_1 {
  background-image: url(./img/photo_1.jpg);
}

#box_2 {
  background-image: url(./img/photo_2.jpg);
}

#btn {
  display: inline-block;
  width: 150px;
  padding: 7px;
  font-size: 14px;
  border-radius: 5px;
  background-color: #00aaff;
  box-shadow: 0 4px #0088cc;
  color: #fff;
  cursor: pointer;
}

#btn:hover {
  opacity: .8;
}

.selected {
  opacity: 1.0;
}

.error {
  padding: 7px;
  background: orange;
  color: #fff;
}
